
.ffondo{
    color: rgb(16, 182, 16);
}

.bord{
    border-style: none;
}

.container1{
    position: relative;
    text-align: right;
}

.container1 img{
    filter: brightness(0.4);
    width: 100%;
    height: auto;
}

.text-on-image {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.container2{
    padding-left:110px !important;
    padding-right:110px !important;
}

.container3{
    padding-left:200px !important;
    padding-right:200px !important;
}

.container4{
    padding-left: 100px !important;
    padding-right: 100px !important;
} 

.container4 a .charla{
    text-decoration-color: black !important;
    text-decoration: dotted !important;
    
}

.container4 .btn{
    background-color: rgb(134, 209, 63);
    border-color:rgb(134, 209, 63) ;
}


footer{
    height: 70px;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    background-color: #214757 !important;
}

 /* Media query */
 @media (max-width: 768px) {
    .footer {
        width: 100%; /* Full width for mobile devices */
    }
}

@media (max-width: 768px) {
    .text-on-image {
        font-size: 11px;
        padding: 8px;
    }
}